# Oculta o script Python da contagem de linguagens
carregar_dados.py linguist-vendored

# Força o GitHub a classificar os arquivos SQL como código do projeto
*.sql linguist-detectable=true
*.sql linguist-documentation=false